@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@100;400;500;700&family=Playfair+Display:wght@500;600;700&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}


:root{
    font-size: 62.5%;
    font-family: 'Hepta Slab', serif;
    
}
body{
width: 100vw;
height: 100vh;
/* background-color: black; */
background-image: url(./imgs/Max\ -\ miky\ 2023-01-17\ at\ 20.44.15.png);
background-repeat: repeat-y;
background-size:cover;



}
main{
    width: 90%;
    height: 50%;  
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* video backround */
/* #bkvid{
    width: 100vw;
    height: 100vh;
    z-index: -5;
    object-fit:100vw;
    position: absolute;
    bottom: 0;
    top: 0;
} */

header{
    height: 15vh;
    
    position:relative;
  
    width: 100%;
    height: 90vh;
    margin-bottom: 4rem;
   
   
}

header h6 {
    color:rgb(255, 255, 255);
    margin-top: 4vw;
    
    font-size: 3rem;
    font-weight:600;
    text-align: center;
    height: 15vh;
    width: 100%;

}



.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    margin-top: 4rem;
    margin-bottom: 10rem;
    /* border:3px solid #ffffff; */
}
  .info p{
    color: #000000;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #ffffff5f;
    /* outline: 1px solid white; */
  }
.links{
    height: 5vh;
    width: 80vh;
    margin: 7rem 1rem 2rem 1rem;
    
    /* border:2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
  .links a img{ 
    margin: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    
  }

  @media screen and (min-width:481px) {
    header{
        height:60vh;
    }
    .info{margin-bottom: 4rem;}
  }

  @media screen and (min-width:701px) {
    header{
        height:40vh;
    }
    .info p{
        font-size: 1.25rem;
    }
    .links a img{ 
        margin: 1.5rem;
        height: 2.5rem;
        width: 2.5rem;
        
      }
  }
  @media screen and (min-width:901px) {
    header{
        height:30vh;
    }
    
  }